<main class="main">
  <div class="inner">

   <div class="prototype__wrapper">
<div class="card">
  <div class="card__body">
   <%= @trip.item_name %>
    <p class="card__summary">
      <%= @trip.first_day %>
      <%="~"%>
      <%= @trip.last_day %>
    </p>
   <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>

    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= "プロトタイプのタイトル"%>
      </p>
      <%= link_to @trip.item_name, trip_path(trip.id), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>

        <div class="prototype__manage">
          <%= link_to "編集する", root_path, class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
           <%= link_to "スケジュールを作成する",root_path, class: :prototype__btn %>
       
  </div>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
   <%#= link_to "by #{trip.user.name}", "/users/#{trip.user.id}", class: :card__user %>
   
  </div>
</div>
 </div>
  </div>
</main>