<main class="main">
  <div class="inner">
    <div class="form__wrapper">
      <table>
       <tbody>
         <tr>
            <th>出張タイトル</th>
            <td><%= @trip.item_name %></td>
         </tr>
         <tr>
            <th>出張初日</th>
            <td><%= @trip.first_day %> </td>
         </tr>
         <tr>
            <th>出張最終日</th>
            <td><%= @trip.last_day %> </td>
         </tr>
         <tr>
            <th>出張メンバー</th>
            <td><%= @trip.users.name %></td>
         </tr>
        </tbody>
      </table>
 
     <div class="prototype__wrapper">
        <div class="prototype__manage">
          <%= link_to "出張の編集", root_path, class: :trip__btn %>
          <%= link_to "出張の削除", root_path, class: :trip__btn %><br><br>
        </div>
     </div>
        <div class="schedule__manage">
           <%= link_to "+ スケジュールを作成する", new_schedule_path, class: :schedule__btn %>
        </div>
    </div>
  </div>
</main>