
<div class="card">
  <main class="main">
    <div class="inner">
      <div class="card">
      <div class="prototype__manage">
          <%= link_to "出張の編集", root_path, class: :trip__btn %>
          <%= link_to "出張の削除", root_path, class: :trip__btn %><br>
          <%= link_to "出張の新規作成", new_trip_path, class: :trip__btn %>
        </div>
        <table class="table">
       
          <thead>
            <tr>
             <th class="header">出張<p>タイトル</th>
             <th class="header">出張期間</th>
             <th class="header">詳細</th>
             <th class="header">出張メンバー1</th>
             <th class="header">出張メンバー2</th>
             <th class="header">出張メンバー3</th>
             <th class="header">出張メンバー4</th>
             <th class="header">出張メンバー5</th>
             
            </tr>
          </thead>
          <tbody>
           <% @trips.each do |trip| %>
           
            <tr>
             <td><%= link_to trip.item_name , trip_path(trip.id)%></td>
             <td><%= trip.first_day %> 〜 <%= trip.last_day %></td>
            <td><%= link_to "詳細", trip_path(trip.id) %></td>
              <% trip.users.each do |user| %>
             <td><%= user.name %></td>
            <% end %>
              
            </tr>
           
           <% end %>
          </tbody> 
        </table>
      </div>
     </div>
    </div>
  </main> 
</div>