
<div class="card">
  <main class="main">
    <div class="inner">
      <div class="card">
        <table class="teble">
       
          <thead>
            <tr>
             <th class="header1">出張<p>タイトル</th>
             <th class="header2">出張期間</th>
             <th class="header3">出張メンバー1</th>
              <th class="header3">出張メンバー2</th>
               <th class="header3">出張メンバー3</th>
                <th class="header3">出張メンバー4</th>
                 <th class="header3">出張メンバー5</th>
             <th class="header3">詳細</th>
            </tr>
          </thead>
          <tbody>
           <% @trips.each do |trip| %>
           <% trip.users.each do |user| %>   
            <tr>
             <td><%= trip.item_name %></td>
             <td><%=  trip.first_day %> 〜 <%= trip.last_day %></td>
             <td><%= user.name %></td>
             <td><%= user.name %></td>
             <td><%= user.name %></td>
             <td><%= user.name %></td>
             <td><%= user.name %></td>
             <td><%= link_to "詳細", trip_path(trip.id) %></td>
            </tr>
           <% end %>
           <% end %>
          </tbody> 
        </table>
      </div>
     </div>
    </div>
  </main> 
</div>